.u-section-1 .u-shape-1 {
  width: 643px;
  height: 643px;
  margin: 175px 93px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 646px;
  height: 646px;
  background-image: url("images/wsqd-min.jpg");
  background-position: 50% 50%;
  margin: -748px auto 0 84px;
}

.u-section-1 .u-image-2 {
  width: 283px;
  height: 283px;
  background-image: url("images/salad_144627-39466.jpg");
  background-position: 50% 50%;
  margin: -181px auto 0 46px;
}

.u-section-1 .u-group-1 {
  width: 829px;
  margin: -229px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 7.25rem;
  font-weight: 700;
  background-image: none;
  margin: 3rem 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 40px auto 0 0;
  padding: 14px 31px 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 635px;
    height: 635px;
    margin-top: 60px;
    margin-right: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 657px;
    height: 657px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 704px;
    margin-bottom: -53px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.5rem;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 604px;
    height: 604px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 261px;
    height: 261px;
  }

  .u-section-1 .u-group-1 {
    width: 617px;
    margin-top: -120px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 540px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 480px;
    margin-top: -653px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -117px;
  }

  .u-section-1 .u-group-1 {
    width: 457px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -453px;
  }

  .u-section-1 .u-image-2 {
    width: 171px;
    height: 171px;
    margin-top: 5px;
    margin-left: -16px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-2 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -382px 95px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 37px auto 63px 1px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 346px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-bottom: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-bottom: -76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-2 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -213px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-2 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-12 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1165px;
}

.u-section-3 .u-shape-1 {
  height: 855px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/3f706f3d-9b6f-067a-559c-5e9d8745f962.jpg");
  background-position: 50% 50%;
  margin: -795px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-group-1 {
  width: 630px;
  min-height: 382px;
  margin: -524px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-3 .u-text-1 {
  font-size: 5.8rem;
  text-transform: none;
  line-height: 1;
  font-family: "Archivo Black";
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-image-2 {
  width: 819px;
  height: 514px;
  margin: 0 auto 0 80px;
}

.u-section-3 .u-group-2 {
  min-height: 335px;
  width: 483px;
  background-image: none;
  margin: -211px calc(((100% - 1140px) / 2) + 73px) 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
  padding: 14px 31px 15px 30px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -243px auto 60px calc(((100% - 1140px) / 2) + 31px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1226px;
  }

  .u-section-3 .u-shape-1 {
    height: 741px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 393px;
    height: 393px;
    margin-top: -670px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 527px;
    min-height: 304px;
    margin-top: -393px;
    margin-left: 50px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 13px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.8rem;
  }

  .u-section-3 .u-image-2 {
    margin-left: 50px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -88px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-shape-2 {
    margin-top: -335px;
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1325px;
  }

  .u-section-3 .u-shape-1 {
    height: 879px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 337px;
    height: 337px;
    margin-top: -650px;
    margin-right: 50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -496px;
  }

  .u-section-3 .u-image-2 {
    width: 644px;
    height: 468px;
    margin-top: 110px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -42px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-shape-2 {
    width: 164px;
    height: 164px;
    margin-top: -347px;
    margin-left: calc(((100% - 720px) / 2) + 36px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1513px;
  }

  .u-section-3 .u-shape-1 {
    height: 871px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-top: -551px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -580px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 503px;
    height: 367px;
    margin-top: 221px;
  }

  .u-section-3 .u-group-2 {
    width: 474px;
    margin-top: 132px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-shape-2 {
    margin-top: -545px;
    margin-left: calc(((100% - 540px) / 2) + 20px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1264px;
  }

  .u-section-3 .u-shape-1 {
    height: 648px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-top: -368px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 218px;
    margin-top: -490px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-2 {
    width: 319px;
    height: 197px;
    margin-top: 227px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-2 {
    min-height: 415px;
    width: 298px;
    margin-top: 86px;
    margin-right: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-shape-2 {
    width: 111px;
    height: 111px;
    margin-top: -546px;
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 429px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  line-height: 57.6px;
  margin: 20px 60px 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    line-height: 1.6;
    margin-bottom: 48px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-5 .u-shape-1 {
  width: 639px;
  height: 586px;
  margin: 60px -53px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -649px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 681px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  line-height: 79.2px;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px auto 0 0;
  padding: 13px 55px 13px 54px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 550px;
  width: 550px;
  background-image: url("images/rfd-min.jpg");
  background-position: 50% 50%;
  margin: 30px 0 0 auto;
}

.u-section-5 .u-gallery-1 {
  height: 276px;
  margin: 44px auto -3px 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-5 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-right: -39px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 19px;
    height: 454px;
    width: 454px;
  }

  .u-section-5 .u-gallery-1 {
    height: 228px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-5 .u-shape-1 {
    width: 422px;
    height: 439px;
    margin-right: -33px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -469px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    line-height: 1;
    font-size: 3.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    height: 344px;
    width: 344px;
  }

  .u-section-5 .u-gallery-1 {
    height: 699px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3317px;
  }

  .u-section-5 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -1080px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-5 .u-image-1 {
    height: 511px;
    width: 511px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 2097px;
    margin-bottom: -477px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2291px;
  }

  .u-section-5 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -833px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 3px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-5 .u-image-1 {
    height: 330px;
    width: 330px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1320px;
    margin-bottom: -408px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 449px;
}

.u-section-6 .u-text-1 {
  width: 621px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 180px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 180px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-top: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 180px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
} .u-section-7 {
  min-height: 623px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 623px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 42px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
  padding: 14px 31px 15px 30px;
}

.u-section-7 .u-image-1 {
  min-height: 623px;
  background-image: url("images/pexels-photo-4220142.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 623px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 405px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 514px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 514px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 514px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 285px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 394px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 633px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 2533px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 438px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 57px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 771px;
}

.u-section-8 .u-shape-1 {
  width: 927px;
  height: 548px;
  margin: 60px auto 0 9px;
}

.u-section-8 .u-shape-2 {
  width: 861px;
  height: 511px;
  margin: -418px 20px 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 945px;
  margin: -537px 69px 140px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 457px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 55px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 162px;
  min-width: 124px;
  margin: 20px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 15px 20px;
}

.u-section-8 .u-form-1 {
  height: 347px;
  margin: 1px auto 0 0;
}

.u-section-8 .u-form-group-1 {
  width: 100%;
}

.u-section-8 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-form-group-2 {
  width: 100%;
}

.u-section-8 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-form-group-3 {
  width: 100%;
}

.u-section-8 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-form-group-4 {
  width: 100%;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-8 .u-shape-1 {
    width: 946px;
    height: 519px;
    margin-left: -26px;
  }

  .u-section-8 .u-shape-2 {
    width: 894px;
    margin-right: -13px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 862px;
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-8 .u-shape-1 {
    width: 760px;
    height: 525px;
    margin-top: 67px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-8 .u-shape-2 {
    width: 757px;
    height: 490px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-8 .u-shape-1 {
    height: 553px;
    width: 469px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-8 .u-shape-2 {
    height: 572px;
    width: 511px;
    margin-top: -64px;
    margin-left: -26px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 459px;
    margin-top: -891px;
    margin-bottom: 104px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-8 .u-shape-1 {
    width: 369px;
    margin-right: -29px;
  }

  .u-section-8 .u-shape-2 {
    height: 513px;
    width: 348px;
    margin-left: -38px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}